/bin/*

/config/*

/.gradle/*

/crash-reports/*

/OtherAssets/*

/eclipse/*

/jars/*

/lib/*

!/gradle/*

/.settings/*

/.metadata/*

/build/*

/logs/*

/mods/*

/saves/*

/resourcepacks/*
/classes/*
/.classpath

/.project


!build.gradle
!/src/main/java/*

!/src/main/java/com/zseltzer/zevadditions/*
!/src/main/resources/mcmod.info

!*.java
!*.class
*.bat
/src/main/resources/assets/zevadditions/textures/superheroes
*.sh

!/src/main/resources/assets/zevadditions/textures/blocks/*
/src/main/resources/assets/zevadditions/textures/blocks/Unused/*
!/src/main/resources/assets/zevadditions/textures/entity/*
!/src/main/resources/assets/zevadditions/textures/environment/*
!/src/main/resources/assets/zevadditions/textures/items/*
/src/main/resources/assets/zevadditions/textures/items/Unused/*
!/src/main/resources/assets/zevadditions/textures/models/*
!/src/main/resources/assets/zevadditions/textures/models/superheroSuits/*
!/src/main/resources/assets/zevadditions/textures/models/armor/*
/src/main/resources/assets/zevadditions/textures/models/Unused/*
!/src/main/resources/assets/zevadditions/lang/en_US.lang

/usernamecache.text

/options.text

/nativelog.text

*.lnk



